.main {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}


a {
    text-decoration: none;
}

a:link, a:visited {
    text-decoration: none;
}

.recipe_links {
    margin-top: 8px;
    border: 2px solid brown;
    background-color: beige;
    text-align: center;
}

#sbc {
    color: black;
}

#pizza {
    color: black;
}

#csw {
    color: black;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.subsection {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}

.subsection.child {
    text-align: left;
}

.text-list {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Divs */

.list {
    background-color: beige;
    border: 2px solid brown;
}

.title {
    border: 5px solid brown;
    background-color: aliceblue;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
    box-sizing: border-box;
}

.title-subsection {
    box-sizing: border-box;
}

/* ID */

#pizza {
    text-align: left;
}